# gitignore

# normal rules (sorted alphabetically)
.*

# git files that we don't want to ignore even if they are dot-files
!.gitignore
!.documents

# windows system file
desktop.ini

/node_modules/
/public/
/themes/

/source/google*
/source/baidu_verify_*

/debug.log
/db.json
/package-lock.json
